<section class="my-5 p-5 mx-auto container">
    <h1 class="text-center">Projects Test</h1>
    <div class="row g-3 justify-content-between">
        <div class="col-md-4" *ngFor="let item of [1,2,3,4,5,6]">
            <div class="item w-100  ">
                <div class="project">
                    <div class="project-images d-flex position-relative">
                        <img src="../../../../assets/images/Group 1157571736 (1).png" class="image-one mx-auto" alt="">
                        <img src="../../../../assets/images/Group 1157571736.png" class="image-two position-absolute" alt="">
                        <img src="../../../../assets/images/Group 1157571736 (2).png" class="image-three position-absolute" alt="">
                    </div>
                    <h2 class="text-center my-3">
                        safaqaty
                    </h2>
                </div>
            </div>
        </div>
    </div>

</section>