.company{
    h2{
        font-weight: 700;
        font-size: 36px;
        color: #15181B;
    }
    .item{
        width: 250px;
        height: 150px;
        background-color: transparent;
        span{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4584C5;
            color: white;
        }
        h4{
            font-weight: 700;
            font-size: 22px;
            color: #0F1B24;
        }
    }
}
.custom-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background-color: #4584C5;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    z-index: 5;

}
.prev{
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -50px;
}

.next{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: -50px;
}
.owl-carousel.owl-rtl .owl-item {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
@media (max-width:768px) {
    .custom-nav{
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .item{
         width: 150px !important;
    }
    h4{
        font-size: 16px !important;
    }
    .prev{
        margin-left: 5px;
    }
    .next{
        margin-right: 5px;
    }
}