<section *ngIf="technologies" class="company my-md-4 my-3">
  <div class="w-75 mx-auto">
    <h2
      class="px-2"
      [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'"
    >
      {{ "tech" | translate }}
    </h2>
    <div
      class="row position-relative mt-2 w-100 mx-auto p-0 m-0 justify-content-end align-items-center"
    >
      <owl-carousel-o [options]="customOptions" #owlCarousel>
        <ng-template carouselSlide *ngFor="let item of technologies" class="">
          <div class="item">
            <img [src]="item.icon" [alt]="item.name" />
          </div>
        </ng-template>
      </owl-carousel-o>

      <span
        *ngIf="technologies.length > 6"
        (click)="goPrev()"
        class="custom-nav prev"
      >
        <i class="fa fa-arrow-left"></i>
      </span>
      <span
        *ngIf="technologies.length > 6"
        (click)="goNext()"
        class="custom-nav next"
      >
        <i class="fa fa-arrow-right"></i>
      </span>
    </div>
  </div>
</section>
