.projects {
  .col-md-3 {
    transition: all 0.5s ease-in-out;
    &:hover{
      background-color: #c1c5ca;
      // p{
      //   color: white;
      // }
    }
  }
  h2 {
    font-weight: 700;
    font-size: 32px;
    color: #1c1f35;
    width: 68%;
    text-align: end;
  }
  @media (max-width: 767px) {
    h2{
      font-size: 22px !important;
    }
  }
  h4{
    margin-top: 10px;
    font-weight: 700;
    font-size: 22px;
    color: #1C1F35;
  }
  ul{
    width: 32%;
  }
  li {
    cursor: pointer;
    margin: 0 4px;
    a {
      font-weight: 400;
      font-size: 15px;
      color: #15181b;
    }
  }
  span {
    font-weight: 700;
    font-size: 16px;
    color: #4584c5;
  }
  .item-img {
    height: 380px;
    border-radius: 4px;
    // background-color: #F4F4F480;
  }
  img {
    width: 171px;
    max-height: 370px !important;
  }
  .active {
    padding: 10px;
    background-color: #4584C5;
    border-radius: 2px;
    color: #ffffff !important;
  }
}
@media (max-width: 767px) {
  .d-flex{
    flex-direction: column-reverse;
  }
  .centerMobile{
    width: 100% !important;
     text-align: center !important;
  }
  ul{
    flex-direction: row !important;
    width: 100% !important  ;
    padding: 10px !important;
  }
  .item{
    margin-left: 15px !important;
  }
  img{
    height: 400px !important;
  }
  .mobile_view{
    img{
      height: 300px !important;
      width: 45%;
    }
   
  }
  img{
    width: 100% !important;
    max-height: 270px !important;
  }
  .related{
    width: 75% !important;
    margin-top: 10px;
    text-align: end !important;
  }
}
.one{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.two{
  top: 3px;
  left: 0;
  right: 0;
  bottom: 3px;
  z-index: 1;
  
  
}
.mocub{
  width: 170px;
  height: 356px;
  overflow: hidden;
  border-radius: 24px !important;
}