<section class="projects my-md-4 my-3">
  <div class="w-75 mx-auto">
    <div [ngClass]="{'flex-row': !isInComponent}" class="d-flex justify-content-between align-items-center px-3">
      <ul
        *ngIf="isInComponent"
        class="list-unstyled d-flex justify-content-center align-items-center"
      >
        <li>
          <a
            routerLink="/projects/latest"
            routerLinkActive="active"
            class="text-decoration-none"
          >
            {{ "mobile_apps" | translate }}
          </a>
        </li>
        <li>
          <a
            routerLink="/projects/featured"
            routerLinkActive="active"
            class="text-decoration-none"
          >
            {{ "websites" | translate }}
          </a>
        </li>
        <li>
          <a
            routerLink="/projects"
            routerLinkActive="active"
            class="text-decoration-none"
          >
            {{ "all" | translate }}
          </a>
        </li>
      </ul>
      <span role="button" routerLink="/projects" *ngIf="!isInComponent">
        {{ "view_all" | translate }}
      </span>
      <h2>
        {{ "our_works" | translate }}
      </h2>
    </div>
    <div *ngIf="isInComponent" class="row gx-4 mt-2 w-100 mx-auto">
      <div class="col-md-4">
        <div class="item text-center">
          <div
            class="item-img w-100 d-flex justify-content-center align-items-center"
          >
            <img src="../../../../assets/images/projects-1.png" alt="" />
          </div>
          <h4>
            {{ "website"|translate }}
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item text-center">
          <div
            class="item-img w-100 d-flex justify-content-center align-items-center"
          >
            <img src="../../../../assets/images/projects-1.png" alt="" />
          </div>
          <h4>
            {{ "website"|translate }}
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item text-center">
          <div
            class="item-img w-100 d-flex justify-content-center align-items-center"
          >
            <img src="../../../../assets/images/projects-2.png" alt="" />
          </div>
          <h4>
            {{ "website"|translate }}
          </h4>
        </div>
      </div>
    </div>
    <div *ngIf="!isMobile"  class="row gx-4 mt-2 w-100 mx-auto">
      <div class="col-md-4">
        <div class="item text-center">
          <div
            class="item-img w-100 d-flex justify-content-center align-items-center"
          >
            <img [src]="mobileApp[0].home_screen" alt="" />
          </div>
          <h4>
            {{mobileApp[0].name}}
            <!-- {{ "application" | translate }} -->
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item text-center">
          <div
            class="item-img w-100 d-flex justify-content-center align-items-center"
          >
            <img [src]="mobileApp[2].home_screen" alt="" />
          </div>
          <h4>
            {{mobileApp[2].name}}
            <!-- {{ "application" | translate  }} -->
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item text-center">
          <div
            class="item-img w-100 d-flex justify-content-center align-items-center"
          >
            <img [src]="websites[0].home_screen" alt="" />
          </div>
          <h4>
            {{websites[0].name}}
            <!-- {{ "website" | translate  }} -->
          </h4>
        </div>
      </div>
    </div>
    <div *ngIf="isMobile && !isInComponent"  class="row gx-4 mt-2 w-100 mx-auto">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="item text-center">
            <div
              class="item-img w-100 d-flex justify-content-center align-items-center"
            >
              <img [src]="mobileApp[0].home_screen" alt="" />
            </div>
            <h4>
              {{mobileApp[0].name}}
              <!-- {{ "application" | translate }} -->
            </h4>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item text-center">
            <div
              class="item-img w-100 d-flex justify-content-center align-items-center"
            >
              <img [src]="mobileApp[2].home_screen" alt="" />
            </div>
            <h4>
              {{mobileApp[2].name}}
              <!-- {{ "application" | translate  }} -->
            </h4>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item text-center">
            <div
              class="item-img w-100 d-flex justify-content-center align-items-center"
            >
              <img [src]="websites[0].home_screen" alt="" />
            </div>
            <h4>
              {{websites[0].name}}
              <!-- {{ "website" | translate  }} -->
            </h4>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
