:host {
  margin-top: auto;
}
.footer {
  background-color: #0f1b24;
  
  h4 {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
  }
  .contact {
    .icon {
      width: 24px;
      height: 24px;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      color: #ffffff;
    }
    ul li {
      width: 24px;
      height: 24px;
    }
  }
  .service{
    a{
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
    }
  }
}
@media (max-width:768px) {
  .col-9{
    margin: auto;
  }
  .row{
    justify-content: end !important;
    ul li {
      margin: 5px !important;
    }
    .logo img{
      width: 75% !important;
    }
  }
}