:host {
  margin-top: auto;
}
.footer {
  background-color: #0f1b24;
  .all-data {
    justify-content: space-between !important;
  }

  h4 {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
  }
  .contact {
    .icon1 {
      width: 34px;
      height: 34px;
    }
    .icon2 {
      width: 24px;
      height: 24px;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      color: #ffffff;
    }
    ul li {
      width: 24px;
      height: 24px;
    }
  }

  .service {
    a {
      font-weight: 400;
      font-size: 16px;
      color: #ffffff;
    }
  }
}
.copy {
  justify-content: end !important;
}
@media (max-width: 768px) {
  .col-9 {
    margin: auto;
  }
  .image {
    width: 100% !important;
  }
  .row {
    justify-content: end !important;
    .icon1,
    .icon2 {
      padding: 0 !important;
      margin: 0 !important;
    }
    .logo img {
      width: 75% !important;
    }
  }
}

.tiktok {
  width: 130%;
}
