.service{
    h2{
        font-weight: 700;
        font-size: 38px;
        color: #1C1F35;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        color: #666C89;
    }
    button{
        width: 194px;
        height: 60px;
        background-color: #4584C5;
        color : #ffffff;
        font-weight: 700;
        font-size: 18px;
        
    }
    .why{
        h3{
            font-weight: 700;
            font-size: 36px;
            color: #15181B;
        }
        img{
            width: 64px;
            height: 64px;
        }
        h4{
            font-weight: 700;
            font-size: 24px;
            color: #15181B;
        }
        p{  
            font-weight: 400;
            font-size: 16px;
            color: #666C89;
            text-align-last: center;
            text-align: center;
        }
    }
}