<section class="contact mt-md-4 mt-3 p-md-5 py-3">
  <div class="w-75 mx-auto">
    <h2  class="my-2 px-3" [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'">
      {{ "contact_us" | translate }}
    </h2>
    <div class="row mt-2 p-0 m-0 w-100 mx-auto justify-content-between">
      <div class="col-md-7">
        <div class="form">
          <form>
            <div class="row g-4 w-100 mx-auto">
              <div class="col-md-6">
                <input
                  [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'"
                  type="email"
                  [placeholder]="'email' | translate"
                  class="form-control"
                  id="email"
                  required
                />
              </div>
              <div class="col-md-6">
                <input
                  [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'"
                  type="text"
                  [placeholder]="'name' | translate"
                  class="form-control"
                  id="name"
                  required
                />
              </div>
              <div class="col-md-6 position-relative service">
                <input
                  [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'"
                  type="text"
                  class="form-control"
                  id="service"
                  required
                  [placeholder]="'service' | translate"
                  (click)="toggleDropdown()"
                  [value]="selectedService ? selectedService.name : ''"
                  readonly
                />
                <!-- Dropdown Icon based on language -->
                <span
                  class="dropdown-icon"
                  [ngClass]="currentLang === 'ar' ? 'icon-left' : 'icon-right'"
                  (click)="toggleDropdown()"
                >
                  <i class="fa" [ngClass]="showDropdown ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                </span>
                <ul *ngIf="showDropdown" class="dropdown-menu show w-100">
                  <li
                    *ngFor="let service of allServices"
                    (click)="selectService(service)"
                    class="dropdown-item"
                  >
                    {{ service.name }}
                  </li>
                </ul>
              </div>
              

              <div class="col-md-6">
                <input
                  [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'"
                  type="phone"
                  [placeholder]="'phone' | translate"
                  class="form-control"
                  id="phone"
                  required
                />             
              
              </div>
              <div class="col-12">
                <textarea
                  [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'"
                  [placeholder]="'message' | translate"
                  class="form-control"
                  id="message"
                  rows="3"
                  required
                ></textarea>
              </div>
              <div class="">
                <button type="submit">
                  {{ "submit" | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div  class="col-md-4 d-md-block d-none">
        <div
          [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'"
          class="contact mt-3"
        >
          <div
            [ngClass]="
              currentLang === 'ar'
                ? 'justify-content-end'
                : 'justify-content-end'
            "
            class="d-flex"
          >
            <div class="content mx-2">
              <p class="mb-1">
                {{ "call_us" | translate }}
              </p>
              <p>01024848723</p>
            </div>
            <div
              class="icon mx-2 d-flex justify-content-center align-items-center"
            >
              <img
                src="../../../../assets/images/Group.png"
                class="w-100"
                alt=""
              />
            </div>
          </div>
          <div
            [ngClass]="
              currentLang === 'ar'
                ? 'justify-content-end'
                : 'justify-content-end'
            "
            class="d-flex mt-3"
          >
            <div class="content mx-3">
              <p class="mb-1">
                {{ "email" | translate }}
              </p>
              <p>info@tawajood.com</p>
            </div>
            <div
              class="icon pe-2 d-flex justify-content-center align-items-center"
            >
              <img
                src="../../../../assets/images/Group (1).png"
                class="w-100"
                alt=""
              />
            </div>
          </div>

          <ul
            class="list-unstyled d-flex mt-4 justify-content-center align-items-center"
          >
            <li class="mx-2">
              <a target="_blank" href="https://www.tiktok.com/@tawajood?_t=8n26pzQEDlV&_r=1"><img src="../../../../assets/images/tiktok.png" alt="tiktok" />
           </a> </li>
            <li class="mx-2">
              <a target="_blank" href="https://wa.me/201024848723"><img
                src="../../../../assets/images/logos_whatsapp-icon.png"
                alt="whatsapp"
              />
           </a> </li>
            <li class="mx-2">
              <a target="_blank" href="https://www.facebook.com/tawajood?mibextid=LQQJ4d"><img
                src="../../../../assets/images/facebook.png"
                alt="facebook"
              />
           </a> </li>
            <li class="mx-2">
              <a target="_blank" href="https://www.instagram.com/tawajoodco?igsh=MWxna2xqazBvZzQyaw=="><img
                src="../../../../assets/images/instagram.png"
                alt="instagram"
              />
           </a> </li>
            <li class="mx-2">
              <a target="_blank" href="https://www.linkedin.com/company/tawajood/"><img
                src="../../../../assets/images/linkedin.png"
                alt="linkedin"
              />
           </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
