<app-navbar  ></app-navbar>
<router-outlet ></router-outlet>
<app-footer></app-footer>

<div   *ngIf="isEgypt"  class="whatsapp-container  position-fixed">
   <a href="https://wa.me/201024848723" target="_blank">
      <div class="circle"></div>
     <div class="circle"></div>
     <div class="circle"></div>
     <img src="../assets/images/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon">
   </a> 
</div>
<div *ngIf="isIraq" class="whatsapp-container position-fixed">
   <a href="https://wa.me/+009647747780006" target="_blank">
     <div class="circle"></div>
     <div class="circle"></div>
     <div class="circle"></div>
     <img src="../assets/images/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon">
   </a>
 </div>

<div *ngIf="!isEgypt && !isIraq" class="whatsapp-container position-fixed">
   <a href="https://wa.me/+966580547863" target="_blank">
      <div class="circle"></div>
     <div class="circle"></div>
     <div class="circle"></div>
     <img src="../assets/images/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon">
   </a> 
</div> 
<app-loading></app-loading>