<section class="domain my-md-5 my-3">
  <div class="w-75 mx-auto">
    <div
      class="row g-4 w-100 mx-auto justify-content-between align-items-center"
    >
      <div class="col-md-6">
        <div class="item-image">
          <img
            src="../../../../assets/images/domian.jfif"
            class="w-100"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-6 pe-3">
        <div
          class="item"
          [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'"
        >
          <h2 class="mb-2">إستضافة المواقع الإلكترونية وحلول الخوادم</h2>
          <p>
            نحن ندرك في شركة تواجد مدى أهمية الاستضافات للمواقع الإلكترونية فهي
            حجر الأساس لضمان سرعة موقعك الإلكترونى واستمراريته ومدى تأثير ذلك
            على خدماتك الإلكترونية على الإنترنت، حرصنا في تواجد لحلول البرمجة
            على توفير أفضل الخوادم وفقًا لأعلى معايير الجودة والأمان، وبأسعار
            تنافسية. نهدف من خلال ذلك إلى مساعدتك في الحفاظ على عملائك، وضمان
            أداء موقعك بأعلى كفاءة، مما يسهم في تحسين ترتيبك في محركات البحث.
          </p>
          <button class="border-0">
            {{ "requestServiceNow" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="why my-md-5 my-3">
      <h3 class="text-center mt-4">{{ "whyWeAreTheBest" | translate }}</h3>
      <div class="row g-3 mt-4 w-100 mx-auto justify-content-center">
        <div class="col-md-4">
          <div class="item text-center">
            <div class="item-icon">
              <img src="../../../../assets/images/why-1.png" alt="" />
            </div>
            <div class="item-content">
              <h4 class="my-2">دعم فني مستمر:</h4>
              <p>
                فريق الدعم لدينا متاح دائمًا لمساعدتك في أي مسألة تتعلق بأداء
                وأمان المواقع الإلكترونية والتطبيقات بعد إطلاقها.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item text-center">
            <div class="item-icon">
              <img src="../../../../assets/images/why-2.png" alt="" />
            </div>
            <div class="item-content">
              <h4 class="my-2">أمان متقدم</h4>
              <p>
                أنظمتنا مزودة بحلول أمان شاملة تحمي موقعك من التهديدات
                الإلكترونية والهجمات المتوقعة.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item text-center">
            <div class="item-icon">
              <img src="../../../../assets/images/why-3.png" alt="" />
            </div>
            <div class="item-content">
              <h4 class="my-2">أداء عالي</h4>
              <p>
                نضمن لك خوادم ذات كفاءة عالية وسرعات تحميل فائقة، لتحسين تجربة
                المستخدم وزيادة رضا الزوار.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item text-center">
            <div class="item-icon">
              <img src="../../../../assets/images/why-4.png" alt="" />
            </div>
            <div class="item-content">
              <h4 class="my-2">نسخ احتياطية دورية</h4>
              <p>
                فريقنا من الخبراء متاح 24/7 لضمان تقديم الدعم اللازم في أي وقت،
                وحل أي مشاكل قد تواجهك.
              </p>
            </div>
          </div>
        </div>
      </div>
      <button class="border-0 mt-3 mx-auto d-block">
        {{ "domainBookingPrompt" | translate }}
      </button>
    </div>
  </div>
</section>
<div class="hosting mt-md-5 mt-3 p-md-5 p-2">
  <div class="w-75 mx-auto">
    <div
      class="row w-100 g-3 mx-auto justify-content-between align-items-center"
    >
      <div class="col-md-6">
        <div class="item-image">
          <img
            src="../../../../assets/images/hosting.jfif"
            class="w-100"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-6 pe-2">
        <div
          class="item"
          [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'"
        >
          <h3 class="mb-md-4 mb-3">استضافة مواقع شاملة</h3>
          <p>
            احصل على استضافة موقعك الإلكتروني بأعلى معايير الجودة،

            <span [ngClass]="currentLang === 'ar' ? 'ms-3' : 'me-3'">
              <svg
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.875 8.375L5.625 16.625L1.5 12.5"
                  stroke="#4584C5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M22.4984 8.375L14.2484 16.625L12.0547 14.4313"
                  stroke="#4584C5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </p>
          <p>
            احصل على استضافة موقعك الإلكتروني بأعلى معايير الجودة،

            <span [ngClass]="currentLang === 'ar' ? 'ms-3' : 'me-3'">
              <svg
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.875 8.375L5.625 16.625L1.5 12.5"
                  stroke="#4584C5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M22.4984 8.375L14.2484 16.625L12.0547 14.4313"
                  stroke="#4584C5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </p>
          <p>
            احصل على استضافة موقعك الإلكتروني بأعلى معايير الجودة،

            <span [ngClass]="currentLang === 'ar' ? 'ms-3' : 'me-3'">
              <svg
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.875 8.375L5.625 16.625L1.5 12.5"
                  stroke="#4584C5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M22.4984 8.375L14.2484 16.625L12.0547 14.4313"
                  stroke="#4584C5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </p>

          <button class="border-0">
            {{ "requestServiceNow" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
