
<section *ngIf="soloution" class="mt-0 secnav py-2 w-100">
  <div
    class="w-75 mx-auto"
    [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'"
  >
    <span>
      <span  role="button" routerLink="/home">{{ "home" | translate }}</span> <span class="mx-2"> > </span
      ><span  role="button" routerLink="/solutions">{{ "solutions" | translate }}</span> <span class="mx-2"> > </span>
      <span class="current"> {{ soloution.name}} </span>
    </span>
  </div>
</section>

<section *ngIf="soloution" class="details my-md-5 my-3">
  <div class="w-75 mx-auto">
    <div
      class="row my-3 justify-content-between align-items-center w-100 mx-auto"
    >
      <div class="col-md-5">
        <div class="item-image">
          <img [src]="soloution.home_screen" class="w-100" alt="" />
        </div>
      </div>
      <div class="col-md-5">
        <div
          class="content"
          [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'"
        >
          <h2 class="mb-4">{{soloution.name}}</h2>
          <p>
           {{soloution.content}}
          </p>
          <div class="buttons d-flex justify-content-end align-items-center">
            <a href="https://wa.me/+201024848723" target="_blank">
              <button class="btn-2 mx-2">
                {{ "request_previous_work" | translate }}
              </button>
            </a>
            <a routerLink="/contact" target="_blank">
              <button class="btn-1 border-0">
                {{ "request_preview" | translate }}
              </button>
            </a>
            
          </div>
        </div>
      </div>
    </div>

    <div  class="my-md-5 my-3">
        <div class="global-details py-2" [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'">
            <h3>
                {{ "app_overview" | translate }}
            </h3>
            <div class="row g-3 mt-4 w-100 mx-auto justify-content-end">
              <div [ngClass]="{'d-none': !spec.title}" *ngFor="let spec of specificationList" class="col-md-4">
                <div class="item d-flex align-items-start">
                  <div class="w-75" [ngClass]="currentLang === 'ar' ? 'me-3' : 'ms-3'">
                    <h4>
                      {{ spec.title }}
                    </h4>
                    <p class="mt-2">
                      {{ spec.description }}
                    </p>
                  </div>
                  <span>
                    <i class="fa-solid fa-check"></i>
                  </span>
                </div>
              </div>
              
            </div>
        </div>
    </div>

    <div class="my-md-5 my-3">
        <div class="screen-app pt-3" >
            <h3 class="mb-2" [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'">
                {{ "app_screens" | translate }}
            </h3>
            <div class="row position-relative mt-3 w-100 mx-auto">
                <owl-carousel-o [options]="customOptions" #owlCarousel>
               <ng-container *ngFor="let item of soloution.images">
                <ng-template carouselSlide >
                  <div class="item">
                    <img [src]="item.image" class=" mx-auto" alt="screenphoto">
                  </div>
                </ng-template>
               </ng-container>
               
                  <!-- <ng-template carouselSlide >
                    <div class="item">
                      <img src="../../../../assets/images/screen-2.png" class=" mx-auto" alt="screenphoto">
                    </div>
                  </ng-template>
                  <ng-template carouselSlide >
                    <div class="item">
                      <img src="../../../../assets/images/screen-1.png" class=" mx-auto" alt="screenphoto">
                    </div>
                  </ng-template>
                  <ng-template carouselSlide >
                    <div class="item">
                      <img src="../../../../assets/images/screen-2.png" class=" mx-auto" alt="screenphoto">
                    </div>
                  </ng-template> -->
                </owl-carousel-o>
              
                <span   *ngIf="soloution.images.length>3" (click)="goPrev()" class="custom-nav prev">
                  <i class="fa fa-arrow-left"></i>
                </span>
                <span  *ngIf="isMobile " (click)="goNext()" class="custom-nav next">
                  <i class="fa fa-arrow-right"></i>
                </span>
                <span  *ngIf="!isMobile && soloution.images.length>3 " (click)="goNext()" class="custom-nav next">
                    <span>
                        <i class="fa fa-arrow-right"></i>
                    </span>
                </span>
              </div>
        </div>
    </div>
  </div>
</section>
<section *ngIf="!isMobile" class="my-md-5 my-3">
        <app-allprojects></app-allprojects>
</section>
